.idea/*
.git/
classes/**
target/**
out/*
Test_Output/**
!.mvn/wrapper/maven-wrapper.jar
reference/**
history/**
hist_arch/**

common-util/target/**
html_to_pdf/target/**
java8_demo/target/**
rsa_demo/target/**


### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
*.log
*.rar


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

